body {
  font-size: 2em;
  font-weight: bold;
}

a:-webkit-any-link {
  color: black;
}

main {
  background-color: #648880;
}

.sub {
  display: inline-block;
  position: relative;
  width: 150px;
  text-align: right;
}

.menu2 {
  visibility: hidden;
  position: absolute;
  display: block;
  width: 150px;
  text-align: right;
  left: 0em;
  background-color: red;
  opacity: 0;
  transition: 300ms ease;

}

.menu2 a {
  display: block;
}

.sub:hover .menu2 {
  visibility: visible;
  opacity: 1;
}

.sub2 {
  position: relative;
  display: inline-block;
  width: 150px;
  text-align: right;
}
.menu3 {
  visibility: hidden;
  position: absolute;
  display: inline-block;
  width: 150px;
  text-align: right;
  top: 0em;
  background-color: blue;
  opacity: 0;
  transition: 300ms ease;


}

.menu3 a {
  display: block;
}
.sub2:hover .menu3 {
  visibility: visible;
  opacity: 1;
}
